.hero {
  // height: 110vh;
  // width: 100%;
  // display: flex;
  // align-items: center;
  h1 {
    font-size: 3.5rem;
    color: #fff;
  }
  & .dropdown-container {
    position: relative;
    min-width: 11rem;
    & .dropdown {
      position: relative;
      font-size: 1rem;
      font-weight: 600;
      background-color: #fff;
      border-radius: 40px;
      padding: 10px 6px 10px 12px;
      appearance: none;
      border: none;
      outline: none;
      z-index: 2;
      &.active {
        box-shadow: 0px 2px 8px -6px black;
      }
    }
    & .dropdown-list {
      position: absolute;
      margin: 0px;
      width: 100%;
      top: 25px;
      background-color: #fff;
      padding: 25px 12px 0px 12px;
      list-style: none;
      z-index: 0;
      border-radius: 0px 0px 20px 20px;
      // padding: 0px;
      & li {
        margin-bottom: 10px;
        &.hidden {
          display: none !important;
        }
      }
    }
  }
  & .icon-field {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 30px;
    & input {
      font-size: 1rem;
      border: none;
      outline: none;
      flex-grow: 1;
    }
    &.field-btn {
      padding: 6px 6px 6px 12px;
    }
  }
}
