.food-banner {
  max-width: 500px;
  min-width: 200px;
}

#donation-section {
  & .price {
    background-color: #fe9139;
    border-radius: 100%;
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    & h1 {
      position: relative;
      font-size: 3rem;
      // & .currency {
      //   position: absolute;
      //   top: 70px;
      //   right: 47px;
      //   font-size: 1.5rem;
      // }
    }
  }
  & .body {
    max-width: 500px;
  }
}

#tracker {
  & .tracker-line {
    margin: 0px 45px 25px 45px;
    position: relative;
    & .bicycle {
      position: absolute;
      bottom: 0px;
      transform: translateX(-50%);
    }
  }
  & .place-tag {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 11px -3px black;
    border-radius: 100%;
    & img {
      width: 70px;
      height: 70px;
    }
  }
  & .time-left {
    margin-top: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }
}
