.reduction-card {
  padding: 1rem 2rem;
  border-radius: 20px;
  position: relative;
  & .card-content {
    color: white;
    display: flex;
    align-items: center;
    & .card-content-head {
      text-align: center;
      margin-right: auto;
    }
    & .card-content-body {
      width: 20ch;
    }
  }
  & .card-action {
    position: absolute;
    right: 30px;
    bottom: 0px;
    transform: translateY(50%);
    background-color: white;
    padding: 0.1rem 0.6rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 5px -2px black;
  }
}
