#browse-restaurant {
  // display: flex;
  // align-items: center;
  // gap: 1rem;
  // max-width: 300px;

  // overflow-x: hidden;
  & .tab {
    font-weight: 700;
    padding: 0.7rem 1rem;
    color: gray;
    cursor: pointer;
    // transition: all 0.3s ease 0s;
    &.active {
      background-color: #fe9139;
      color: white;
      border-radius: 25px;
    }
  }
}
