#browse-menu {
  & a:hover {
    text-decoration: none;
  }
  & .tab {
    font-weight: 700;
    padding: 0.7rem 1rem;
    color: gray;
    cursor: pointer;
    // transition: all 0.3s ease 0s;
    &.active {
      background-color: lightgray;
      color: white;
      border-radius: 25px;
    }
  }
}

.retaurant-suggestion {
  & .items-scroll {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
  }
}

.food-item {
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
  }
  & .food-item-card {
    position: relative;
    & .food-img {
      width: 200px;
      border-radius: 20px;
      overflow: hidden;
    }
    & .food-price {
      color: white;
      padding: 4px 15px;
      background-color: #700cbe;
      border-radius: 25px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(50%);
    }
  }
  & h5 {
    font-weight: 700;
  }
  & .food-item-action {
    // margin-top: -6px;
    & p {
      font-weight: 600;
      font-size: 1.2rem;
    }
    & svg {
      cursor: pointer;
      color: #700cbe;
    }
  }
}
