#app-nav {
  background-image: url("/img/app-nav-bg.svg");
  // background-color: purple;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 250px;
  width: 100%;
  z-index: 100;
  position: absolute;
}
