.auth-menu-layout {
  //   position: relative;
  //   height: 100%;
  & .bottom-actions {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 4%;
    // right: 4%;
  }
}
