#filter-sidebar {
  width: 100%;
  overflow: auto;
  max-height: 87vh;
  position: sticky !important;
  top: 5rem;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #a5a5a5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    &:hover {
      background: rgb(22, 22, 22);
    }
  }
  & .filter-one {
  }
}
