#footer {
  background-image: url("/img/landing-page/footer.png");
  background-size: cover;
  & h5 {
    font-size: 1rem;
  }
  & a {
    text-decoration: none;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
  & hr {
    opacity: 0.2;
    background-color: black;
  }
  & .social {
    img {
      cursor: pointer;
    }
  }
}
