#navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
  & .nav-holder {
    height: 5rem;
    box-shadow: 1px 1px 10px -4px grey;
  }
  & .navbar {
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .menu {
      padding: 0.3rem 0.8rem;
      border-radius: 25px;
      background: none;
      border: 1px solid grey;
    }
    & .site-logo {
    }
    & .country-select {
      border: none;
    }
    & .nav-util {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
