.stepper-container {
  position: relative;
  & .dots-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    & .stepper-dot {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: #cbcbcb;
      &.active {
        background-color: #700cbe;
      }
      &.refused {
        background-color: red;
      }
    }
  }

  & .stepper-line {
    height: 2px;
    margin: 14px 0px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23cbcbcb' stroke-width='5' stroke-dasharray='6%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
}
