#page-nav {
  & .tab {
    font-weight: 700;
    padding: 0.7rem 1rem;
    color: gray;
    cursor: pointer;
    // transition: all 0.3s ease 0s;
    &.active {
      background-color: #fe9139;
      color: white;
      border-radius: 25px;
    }
  }
}

#valid {
  & .reduction-card {
    padding: 1rem 2rem;
    border-radius: 20px;
    position: relative;
    & .card-content {
      color: white;
      display: flex;
      align-items: center;
      & .card-content-head {
        text-align: center;
        margin-right: auto;
      }
      & .card-content-body {
        width: 20ch;
      }
    }
  }
}

#to-unlock {
  & .reduction-card {
    padding: 1rem 2rem;
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 2px 8px -3px black;
    & .card-content {
      color: gray;
      display: flex;
      align-items: center;
      & .card-content-head {
        text-align: center;
        margin-right: auto;
      }
      & .card-content-body {
        width: 20ch;
      }
    }
  }
  & .card-action {
    padding: 4px 8px;
    font-size: 0.8rem;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateY(-50%);
  }
}
