#page-nav {
  & .tab {
    font-weight: 700;
    padding: 0.7rem 1rem;
    color: gray;
    cursor: pointer;
    // transition: all 0.3s ease 0s;
    &.active {
      background-color: #fe9139;
      color: white;
      border-radius: 25px;
    }
  }
}

.order-payment-status {
  position: absolute;
  right: 0px;
  top: 0%;
  transform: translateY(-30%);
  padding: 3px 10px;
  border-radius: 20px;
  &.prepaid {
    background-color: #fe9139;
  }
  &.repay {
    background-color: blue;
  }
  color: white;
}

.order-card-action {
  position: absolute;
  right: -20px;
  bottom: 0px;
  transform: translateY(50%);
}

#past-order-table {
  border-collapse: separate;
  border-spacing: 0 1.3rem;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  & .table-row {
    box-shadow: 1px 2px 8px -3px black;
    padding: 1rem;
    border-radius: 15px;
  }

  & td {
    padding: 0.625em;
    text-align: center;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 991px) {
    border-spacing: 0 0;
    & thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    & tr {
      display: block;
      margin-bottom: 1.3rem;
    }

    & td {
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    & td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    & td:last-child {
      border-bottom: 0;
    }
  }
}
