#order-items {
  max-height: 550px;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #a5a5a5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #700cb9;
  }
  & .item {
    margin: 0px 4px 30px 4px;
    & .img-price {
      position: relative;
      & .price-tag {
        position: absolute;
        bottom: 0px;
        transform: translateY(50%);
        padding: 3px 15px;
        border-radius: 25px;
        background-color: #700cb9;
        color: white;
        font-weight: 700;
      }
    }
  }
}

#bill {
  & .header {
    background-color: #fe9139;
    padding: 1.5rem;
    color: white;
  }
  & .body {
    padding: 1.5rem;
  }
}
