// @import url("config");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

$primary-accent: #700cbe;
$secondary-accent: #fe9139;

html {
  scroll-behavior: smooth;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 0px 0px 2px #2e2e2e;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 4rem;
    font-weight: 900;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 3rem;
    font-weight: 700;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 2rem;
    font-weight: 700;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.75rem;
    font-weight: 700;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: 200;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.dual-color-head {
  & span {
    color: $primary-accent;
  }
}

.btn-primary {
  font-family: "Nunito";
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: $primary-accent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  &.btn-shadow {
    box-shadow: 0px 2px 5px $primary-accent;
  }
  &:hover {
    background-color: darken($primary-accent, 10%);
  }
}

.btn-secondary {
  font-family: "Nunito";
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: $secondary-accent;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  &.select {
    padding: 0.5rem 0.8rem;
    border-radius: 14px;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    &[aria-selected="false"] {
      background-color: lightgray;
      &:hover {
        background-color: darken(lightgray, 10%);
      }
    }
  }
  &.btn-shadow {
    box-shadow: 0px 2px 5px $secondary-accent;
  }
  &:hover {
    background-color: darken($secondary-accent, 10%);
  }
}

.btn-secondary {
  font-family: "Nunito";
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: $secondary-accent;
  color: white;
  cursor: pointer;
  &.btn-shadow {
    box-shadow: 0px 2px 5px $secondary-accent;
  }
  &:hover {
    background-color: darken($secondary-accent, 10%);
  }
}

.app-btn {
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  & img {
    box-shadow: 0px 4px 10px -2px #000000;
  }
}

.text-white {
  color: white !important;
}

.text-gray {
  color: gray;
}

.text-primary {
  color: $primary-accent !important;
}

.text-secondary {
  color: $secondary-accent !important;
}

.text-accent-primary {
  color: $primary-accent;
}

.field-inline-text {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 20px;
  & input {
    flex-grow: 1;
    padding-left: 0.4rem;
    border: none;
    font-size: 14px;
    &:focus {
      outline: none;
    }
  }
}

.field-select {
  // appearance: none;
  padding: 0.6rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 0px 2px 10px -10px #000000;
  }
}

.rec-arrow {
  background-color: $secondary-accent;
  &.rec-arrow-left {
    &[disabled] {
      // display: none;
      opacity: 0;
      cursor: default;
    }
    background-color: $secondary-accent;
    border: 2px solid white;
    box-shadow: none;
    color: white;
    padding: 0.4rem;
    font-size: 1rem;
    padding-top: 0px;
    padding-left: 4px;

    &:hover:enabled {
      background-color: darken($secondary-accent, 10%);
      border: 2px solid white;
      box-shadow: none;
      color: white;
    }
    &:focus:enabled {
      background-color: darken($secondary-accent, 10%);
      border: 2px solid white;
      box-shadow: none;
      color: white;
    }
  }

  &.rec-arrow-right {
    &[disabled] {
      // display: none;
      opacity: 0;
      cursor: default;
    }
    background-color: $secondary-accent;
    border: 2px solid white;
    box-shadow: none;
    color: white;
    padding: 0.4rem;
    font-size: 1rem;
    padding-top: 0px;
    padding-right: 4px;

    &:hover:enabled {
      background-color: darken($secondary-accent, 10%);
      border: 2px solid white;
      box-shadow: none;
      color: white;
    }
    &:focus:enabled {
      background-color: darken($secondary-accent, 10%);
      border: 2px solid white;
      box-shadow: none;
      color: white;
    }
  }
}

.progress-bar {
  height: 16px;
  width: 100%;
  flex-grow: 1;
  background-color: lightgray;
  border-radius: 6px;
  position: relative;
  & .progress-meter {
    height: 16px;
    flex-grow: 1;
    background-color: #700cbe;
    border-radius: 6px;
    position: absolute;
  }
}

.pointer {
  cursor: pointer;
}

.text-orange {
  color: #fe9139;
}

.text-uppercase {
  text-transform: uppercase;
}
