$primary-accent: #700cbe;
$secondary-accent: #fe9139;

#features {
    & .circle {
        padding: 35px;
        border-radius: 100%;
        &.purple {
            background-color: $primary-accent;
        }
        &.orange {
            background-color: $secondary-accent;
        }
    }
}

.filter-category {
    & div[aria-selected="true"] {
        img {
            border-radius: 16px;
            box-shadow: 2px 2px 10px -3px #000000;
        }
    }
}

#display-cards {
    // position: relative;
    & .display-card {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
        & img {
            height: 215px;
        }
    }
    & .svg {
        // position: absolute;
        margin-top: -25px;
        position: relative;
        & .title {
            position: absolute;
            top: 20px;
            width: 100%;
            font-size: 1.5rem;
            text-align: center;
            color: #fff;
            font-weight: 900;
        }
        & .text {
            position: absolute;
            padding: 0px 20px;
            top: 60px;
            width: 100%;
            text-align: center;
            color: #fff;
            font-weight: 600;
        }
        & .btn {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#download-app {
    background-image: url("/img/landing-page/wave.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#food-category {
    & .item {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        border-radius: 100%;
        overflow: hidden;
        position: relative;

        &:hover {
            cursor: pointer;
            & .overlay {
                opacity: 0.7;
            }
            & h5 {
                opacity: 1;
            }
        }

        & .overlay {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $primary-accent;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.6s ease;
        }
        & h5 {
            opacity: 0;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.6s ease;
            margin: 0;
        }
        & img {
            width: 200px;
            height: 200px;
        }
    }
}

#food-aid-section {
    background-color: $secondary-accent;
    & .food-aid {
        & .header {
            font-weight: 900;
        }
        & .aid-card {
            border-radius: 40px;
            overflow: hidden;
            & .aid-card-text {
                background-color: white;
            }
        }
    }
    & .mockup-container {
        & img {
            padding-top: 2.5rem !important;
            @media (min-width: 768px) {
                margin-left: -2rem !important;
            }
        }
    }
}

#get-app-section {
    background-color: #eeeeee;
    & h3 {
        font-size: 2rem;
        font-weight: 900;
    }
    & .feature-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        font-size: 1.25rem;
        & .feature-count {
            font-weight: 700;
            box-shadow: 0px 1px 10px -3px #000000;
            color: white;
            padding: 0.7rem 1.2rem;
            background-color: $secondary-accent;
            border-radius: 100%;
        }
    }
}

#newsletter {
    & .newsletter-container {
        background-image: url("/img/landing-page/newsletter.png");
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 15rem;
        @media (min-width: 768px) {
            height: 20rem;
        }
        position: relative;
        & form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

#latest-updates {
    & h3 {
        text-align: center;
        max-width: 26ch;
        margin: 0 auto 1rem auto;
        font-size: 2.4rem;
        font-weight: 900;
    }
}

#footer {
    background-image: url("/img/landing-page/footer.png");
    background-size: cover;
    & h5 {
        font-size: 1rem;
    }
    & a {
        text-decoration: none;
        font-size: 14px;
        &:hover {
            text-decoration: underline;
        }
    }
    & hr {
        opacity: 0.2;
        background-color: black;
    }
    & .social {
        img {
            cursor: pointer;
        }
    }
}

#testimonial {
    & .testimonial-item {
        position: relative;
        & .text {
            position: absolute;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-weight: 600;
            // max-width: 60ch;\
            text-align: center;
            width: 75%;
        }
        & .name {
            position: absolute;
            bottom: 85px;
            // left: 50%;
            // transform: translateX(-50%);
            color: #fff;
            font-weight: 600;
            // max-width: 60ch;\
            text-align: right;
            width: 75%;
        }
        & .img {
            position: absolute;
            bottom: 0px;
            // top: 10px;
        }
    }
}
