$primary-accent: #700cbe;
$secondary-accent: #fe9139;

.login-btn {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  &.facebook {
    background-color: #4064ab;
    color: white;
  }
  &.google {
    background-color: white;
    border: 1px solid gray;
  }
  &[aria-disabled="true"] {
    background-color: lightgray;
    border: none;
    padding: 1.2rem;
    cursor: not-allowed;
  }
  &[aria-disabled="false"] {
    background-color: $primary-accent;
    color: white;
    padding: 1.2rem;
    &:hover {
      background-color: darken($primary-accent, 10%);
    }
  }
  & span {
    width: 1.5rem;
  }
}

.login-footer {
  a {
    color: $primary-accent;
  }
}

.strike {
  width: 100%;
  height: 13px;
  border-bottom: 2px solid lightgray;
  text-align: center;
  margin-bottom: 10px;
  & span {
    color: gray;
    font-size: 1.2rem;
    background-color: white;
    padding: 0 10px;
  }
}
