#card {
  border-radius: 12px;
  height: 110px;
  width: 200px;
  position: relative;
  & .info {
    position: absolute;
    bottom: 0.5rem;
    & p {
      font-size: 0.8rem;
      margin: 0px;
    }
  }
}
